<meta charset="utf-8">

<script type="text/javascript" src="/js/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery-ui.min.js"></script>
<script type="text/x-mathjax-config">
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
  MathJax.Hub.Config({
  "HTML-CSS": { linebreaks: { automatic: true } },
         SVG: { linebreaks: { automatic: true }, scale: 90 }
  });
} else {
  MathJax.Hub.Config({
    "HTML-CSS": { linebreaks: { automatic: true } },
           SVG: { linebreaks: { automatic: true } }
  });
}
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/svg.css">
<link rel="stylesheet" href="/css/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="/css/jquery-ui/jquery-ui.structure.min.css">
<link rel="stylesheet" href="/css/jquery-ui/jquery-ui.theme.css">

<article class="container">
  <header><h2>{{ page.title }}</h2></header>
  <div>{{ content }}</div>
</article>
