/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(250, 250, 250);
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.beigeBg {
    background-color: #F4F6F3;
}

.yellowBg {
    background-color: #F3C74A;
}

.greyBg {
    background-color: #A1B0C6;
}

.lightVioletBg {
    background-color: #947A8B;
}

.darkVioletBg {
    background-color: #454678;
}
